body{
    margin: 20px;
    font-family: 'Poppins', sans-serif;
}
.card{
    background: linear-gradient(135deg, #0a2342, #1e3a8a);
    display: flex;
    width: 450px;
    justify-content:space-around;

    margin: 0 auto;
    padding: 20px;

    border-left: 2px solid #00bcd4;
    border-top: 2px solid #00bcd4;
    border-radius: 5px;

   
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);    
}

.card:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
}

.img_kaneki{
    width: 150px;
    height: 150px;
    margin: auto 0;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    
}

.details{
    color: #eef4ed;
    font-size: small;
    width: 300px;
    text-align: center;
}
.titles{
     color: #00bcd4;
    text-shadow: 0 0 8px rgba(0, 188, 212, 0.6);
}

